.star-popup .root-draft-editor .DraftEditor-root {
  height: 220px;
}
.star-popup .card-input-editor {
  padding: 0;
}

.star-popup .rdw-editor-main {
  border-bottom: 1px solid #e6eaef;
}

.treasure-selectStar,
.treasure-show {
  display: flex;
  /* width: 175px; */
  /* padding: 20px; */
  align-items: center;
  border-radius: 10px;
}
.treasure-selectStar {
  cursor: pointer;
}
.treasure-selectStar:hover {
  background-color: #ccc;
  transition: 0.3s;
}
